{% extends 'base.html' %}
{% load static %}




{% block body%}
<!-- Navbar Start -->
<div class="container-fluid">
    <div class="row border-top px-xl-5">

        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <a href="" class="text-decoration-none d-block d-lg-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span
                            class="text-primary font-weight-bold border px-3 mr-1">Style</span>Sphere</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="{% url 'home'%}" class="nav-item nav-link">Home</a>
                        <a href="{% url 'shop'%}" class="nav-item nav-link active">Shop</a>


                        <a href="{% url 'contact'%}" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
        </div>

    </div>
    </nav>
</div>
</div>
</div>
<!-- Navbar End -->

<!-- Login Start -->
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="col-lg-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Login to Your Account</span></h2>
        </div>
        <div class="login-form">
            <div id="success"></div>
            <form method="POST" novalidate>
                {% csrf_token %}
                {{ form.non_field_errors }} <!-- Display non-field errors if any -->
                <div class="control-group mb-3">
                    <input type="text" class="form-control" name="username" placeholder="Your Email" required="required"
                        data-validation-required-message="Please enter your email" />
                    <p class="help-block text-danger">{{ form.username.errors }}</p>
                </div>
                <div class="control-group mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password"
                        required="required" data-validation-required-message="Please enter your password" />
                    <p class="help-block text-danger">{{ form.password.errors }}</p>
                </div>
                <div>
                    <button class="btn btn-primary py-2 px-4 w-100" type="submit" id="loginButton">Login</button>
                </div>
            </form>
            <div class="text-center mt-3">
                <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
                <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Login End -->

{% endblock %}