{% extends 'base.html' %}
{% load static %}

{% block body %}
<!-- Password Reset Start -->
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="col-lg-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Set a New Password</span></h2>
        </div>
        <div class="login-form">
            <form method="POST" novalidate>
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="control-group mb-3">
                    <label for="new_password1" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="new_password1" name="new_password1"
                        placeholder="New Password" required />
                    <p class="help-block text-danger">{{ form.new_password1.errors }}</p>
                </div>
                <div class="control-group mb-3">
                    <label for="new_password2" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="new_password2" name="new_password2"
                        placeholder="Confirm Password" required />
                    <p class="help-block text-danger">{{ form.new_password2.errors }}</p>
                </div>
                <button class="btn btn-primary py-2 px-4 w-100" type="submit">Reset Password</button>
            </form>
        </div>
    </div>
</div>
<!-- Password Reset End -->
{% endblock %}